@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');


:root {
    --clr-header-brownish: #37282B;
    --clr-golden-brown: #B0825C;
    --clr-logo-bg: #DDDDDD;
    --clr-p-gray: #716567;
    --clr-br-gray: #CCCCCC;
    --clr-footer-text: #B3A6A8;
    --clr-footer: #171720;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-repeat: no-repeat;
    background-image: url('images/background.jpg');
    background-size: 100%;
}

/* main{
    max-height: 100vh;
} */
a {
    display: block;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 2em;
}

nav ul {
    display: flex;
    gap: 1em;
}

nav li {
    display: block;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}



.logo img {
    width: 80;
    height: 80px;
}

.header-banner .title {
    color: #fff;
    font-size: 2.8em;
    font-weight: normal;
    font-family: 'PT Serif', sans-serif;
}

.header-banner .text {
    color: #fff;
    padding-top: 1em;
    width: 59ch;
    line-height: 1.6em;
    padding-bottom: 19em;
}

.header-banner .container {
    padding-left: 1em;
    padding-top: 1em;
}

.information {
    background-color: #fff;
    padding-top: 10em;
    border-bottom: 3px solid var(--clr-br-gray);
}



.information .cards {
    display: flex;
    gap: 3.5em;
}

.information .cards .card {
    flex: 0 0 48%;
}

.information .cards .card:last-of-type{
    flex: 1;
} 

.information .cards .card h2 {
    font-family: 'PT Serif', sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: var(--clr-header-brownish);
    padding-bottom: 1em;
}

.information .cards .card span {
    display: inline-block;
    background-color: white;
    color: var(--clr-golden-brown);
    border: 2px solid var(--clr-golden-brown);
    margin: 2em 0 6em;
    padding: 0.8em 1.8em;
}

.information .cards .card span a {
    color: var(--clr-golden-brown);
    font-weight: bold;
}

.information .cards .card p{
    line-height: 1.8em;
}

.bottom-banner {
    background-color: #fff;
    display: flex;
    text-align: center;

}

.bottom-banner h3 {
    font-family: 'PT Serif', sans-serif;
    font-weight: normal;
    font-size: 2em;
    color: var(--clr-golden-brown);
    padding-bottom: 0.5em;
}

.bottom-banner .sponsors {
    padding-top: 3em;
}

.bottom-banner .sponsors p {
    width: 130ch;
}

.bottom-banner .partners {
    padding-bottom: 3em;
}

.bottom-banner .partners p,
.bottom-banner .sponsors p {
    color: var(--clr-p-gray);
}

.bottom-banner .sponsors .media img {
    display: block;
    width: 60px;
    height: 60px;
}

.bottom-banner .sponsors .media {
    display: inline-block;
    margin: 3em 1em;
    padding: 1em;
    border-radius: 50%;
    background-color: var(--clr-logo-bg);

}

.footer-section-ul {
    background-color: var(--clr-footer);
    border-bottom: 3px solid #3A3A41;
}


.footer-section-ul .content {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 3em 0 3.5em;
}

.footer-section-ul .content .title {
    font-family: 'PT Serif', sans-serif;
    font-weight: normal;
    font-size: 1.4em;
    padding-bottom: 1.5em;
}

.footer-section-ul .content li {
    display: block;
    line-height: 2.5em;
    text-transform: uppercase;
    color: var(--clr-footer-text);
}

.footer{
    background-color: var(--clr-footer);
    color: var(--clr-footer-text);
    padding: 1em;
}